# Exclude tex
*.tex
*.log
*.pyc

# Exclude pycache folder
Code/__pycache__/*

# Exclude cache folder
_cache/

# Ignore the folder
Grant/*

# Ignore data folders but keep the folder
Syntelogs_and_Homologs/data_input/*
Syntelogs_and_Homologs/data_output/*
!Syntelogs_and_Homologs/data_input/.gitkeep
!Syntelogs_and_Homologs/data_output/.gitkeep
